
body {
    background-image: url(../images/dimension.png);
    font-family: 'MontSerrat', sans-serif;
}

#bio-img {
    margin-right: 20px;
    border-radius: 2px;
    opacity: .9;
}

.bio {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.portfolio-img {
    opacity: .9;
}

